<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>http://raw.githubusercontent.com/gabrielzinhozinho/gabrielzinhozinho.github.io/refs/heads/main/Netflix%20%5BNetflix%20Inc.%5D%20(v2.0.1%20v1190224%20Univ%20os40).rc333_841.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.netflix.Netflix</string>
        <key>bundle-version</key>
        <string>2.0.1</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Netflix</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
