body {
  margin: 0;
  font-family: sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

header {
  background: #f8f8f8;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#app-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  padding: 10px;
}

.app-item {
  text-align: center;
}

.app-item img {
  width: 100%;
  max-width: 80px;
  height: auto;
  border-radius: 15px;
}

.app-item span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}
